{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
            <h1>Hello {{ controller_name }}! ✅</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut blanditiis deserunt doloribus, ea eos esse est fugiat, id illo ipsa nemo, odio officiis porro quia saepe tenetur unde!</p>
            <a href="{{ path('tri_count') }}" class="btn btn-primary btn-block">Allez faire le tri !</a>
</div>
{% endblock %}
