{% extends 'base.html.twig' %}

{% block title %}Start TriCount{% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href="{{ path('soiree_init') }}" class="center btn btn-primary btn-block"></a>

    </div>

{% endblock %}
