{% extends 'base.html.twig' %}

{% block title %}Start TriCount{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h4>Appuyez sur le boutton ci-dessous pour créer votre soirée et ajouter les participants</h4>
        <br>
        <a href="{{ path('soiree_init') }}" class="center btn btn-primary btn-sm">Créer votre soirée</a>

    </div>

{% endblock %}
