{% extends 'base.html.twig' %}

{% block title %}Hello TriCountController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-4"><h5>Organisateur</h5></div>
            <div class="col-4"><h5>Invités</h5></div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"></div>
                        <div class="card-text"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"></div>
                        <div class="card-text"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"></div>
                        <div class="card-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
